{
	CanonicalName = "macosx10.1";
	buildSettings = {
		"MACOSX_DEPLOYMENT_TARGET" = "10.1";
	};
	DefaultProperties = {
		"MACOSX_DEPLOYMENT_TARGET" = "10.1";
		"PLATFORM_NAME" = macosx;
	};
	name = "Mac OS X 10.1.5";
	DisplayName = "Mac OS X 10.1";
	DocSetFeedName = "Apple Mac OS X 10.1";
	"MaximumDeploymentTarget" = "10.1";
	MinimalDisplayName = "10.1";
	"MinimumSupportedToolsVersion" = "1.0";
	Version = "10.1";
}