{
	CanonicalName = "macosx10.3";
	buildSettings = {
		"MACOSX_DEPLOYMENT_TARGET" = "10.3";
	};
	DefaultProperties = {
		"MACOSX_DEPLOYMENT_TARGET" = "10.3";
		"PLATFORM_NAME" = macosx;
	};
	CustomProperties = {
		"KERNEL_EXTENSION_HEADER_SEARCH_PATHS" = "$(KERNEL_FRAMEWORK_HEADERS) $(KERNEL_FRAMEWORK_HEADERS)/bsd $(KERNEL_FRAMEWORK)/PrivateHeaders";
	};
	name = "Mac OS X 10.3.0";
	DisplayName = "Mac OS X 10.3";
	DocSetFeedName = "Apple Mac OS X 10.3";
	"MaximumDeploymentTarget" = "10.3";
	MinimalDisplayName = "10.3";
	"MinimumSupportedToolsVersion" = "1.0";
	FamilyName = "Mac OS X";
	FamilyIdentifier = macosx;
	Version = "10.3";
	supportsZeroLink = YES;
}