{
	CanonicalName = "macosx10.2";
	buildSettings = {
		"MACOSX_DEPLOYMENT_TARGET" = "10.2";
	};
	DefaultProperties = {
		"MACOSX_DEPLOYMENT_TARGET" = "10.2";
		"PLATFORM_NAME" = macosx;
	};
	CustomProperties = {
		"KERNEL_EXTENSION_HEADER_SEARCH_PATHS" = "$(KERNEL_FRAMEWORK_HEADERS) $(KERNEL_FRAMEWORK_HEADERS)/bsd $(KERNEL_FRAMEWORK)/PrivateHeaders";
	};
	name = "Mac OS X 10.2.8";
	DisplayName = "Mac OS X 10.2";
	DocSetFeedName = "Apple Mac OS X 10.2";
	"MaximumDeploymentTarget" = "10.2";
	MinimalDisplayName = "10.2";
	"MinimumSupportedToolsVersion" = "1.0";
	Version = "10.2";
}