<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isBaseSDK</key>
	<string>YES</string>
	<key>CustomProperties</key>
	<dict>
		<key>KERNEL_EXTENSION_HEADER_SEARCH_PATHS</key>
		<string>$(KERNEL_FRAMEWORK)/PrivateHeaders $(KERNEL_FRAMEWORK_HEADERS)</string>
	</dict>
	<key>DefaultProperties</key>
	<dict>
		<key>MACOSX_DEPLOYMENT_TARGET</key>
		<string>10.4</string>
		<key>PLATFORM_NAME</key>
		<string>macosx</string>
	</dict>
	<key>MaximumDeploymentTarget</key>
	<string>10.4</string>
	<key>FamilyName</key>
	<string>Mac OS X</string>
	<key>FamilyIdentifier</key>
	<string>macosx</string>
	<key>Version</key>
	<string>10.4</string>
	<key>DisplayName</key>
	<string>Mac OS X 10.4</string>
	<key>CanonicalName</key>
	<string>macosx10.4</string>
	<key>MinimalDisplayName</key>
	<string>10.4</string>
</dict>
</plist>
